<h1>Result</h1>
<h1><%= @letters %></h1>
<p>Sorry but <strong>TEST</strong> can´t be built out of <%= @letters %></p>
<p>Sorry but<strong>MIEL</strong>does not seem to be a valid English word...</p>
<p><strong>Congratulations!</strong>Dune is a valid English word!</p>

<%= link_to 'Play again', new_path %>

